* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container{
height: 100%;
    width: 100%;
    background-color: #293136;
}




/* Styling for homepage */
.home-page {
    display: flex;
    color: rgba(236, 236, 236, 0.822);
    justify-content: center;
    align-items: center;
    border: rgb(34, 33, 33) 1px solid;
    margin: 0 2rem;
    border-radius: 1rem;
}

.logo{
    padding-top:1.9rem ;
   margin:0 80rem 0.8rem 2rem ;
    }
    .logo h1{
        color: white;
        font-weight: 700;
        font-size: 40px;
        padding-left: 2rem;
    }
    .logo span{
        color: rgb(255, 0,250);
    }
    .logo h1:hover {
    color: #e74c3c;
    /* border:0.5rem solid rgb(255, 0,250) ; */
    transition: 0.4s;
    }
    
    .logo h1:hover span {
      color: white;
      transition:0.4s;
    }
    

    #hero-text{
    padding-left: 3rem;
    padding-top: 2rem;

    font-size: 23px;
    margin-bottom: 13rem;
    width: 50%;
}

#hero-text p{
    margin-top: 1.5rem;
}


#hero{
    width: 50%;
      border: 4px rgb(39, 38, 38) solid; 
      padding-left: 100px;
      margin-top: 0;
      margin-bottom: 4rem;
      margin-right: 8rem;
    }


    #hero img{
        width:400px ;
           height:auto;
           border-radius: 50%;
           border: 2px rgb(255, 0,250) solid;
margin: 2rem 0 1rem 0;
   }

   #hero img:hover{
    border: 6px #e74c3c solid;
    transition: 0.4s;
    }


#occupation span{  color: rgba(236, 236, 236, 0.822);}
#occupation{
    color: white;
 
}

nav {display: flex;
position: absolute;
right:300px;
top: 0px;
background-color: transparent;
border: none;
margin-top: 8px;
}
nav button{
    color: white;
    background-color: transparent;
border: none;
margin-top: 1rem;
font-size: 20px;
padding-top: 0;
margin-top: 10px;
cursor: pointer;
}
nav button:hover {
    color:#e74c3c;

}
nav div{
    margin-left: 20px; 
    margin-right: 20px;
}
/* #about-btn , .projects-btn , .contact-btn{
    curso
} */





#projects-btn{
    margin-left: 8rem;
    margin-right: 8rem;

}




#media-icons{
    position: absolute;
    right: 2rem;
    bottom: 250px;
    border: 5px rgb(75, 67, 67) solid;
    border-radius: 2rem;
    margin-right: 1.5rem;
    }
    #media-icons img{
        margin: 0.7rem;
        width: 30px;
    }
#media-icons .whatsapp:hover img , #media-icons .github:hover img , #media-icons .linkedin:hover img , #media-icons .twitter:hover img , #media-icons .email:hover img {
    filter: brightness(3);
    transition: 0.3s;
}


.connect-button{
    position: absolute;
bottom: 55px;
left: 200px;
}
.connect-button button{
    border: none;
    background-color: rgb(185, 177, 185);
    padding: 2rem 4rem;
    border-radius: 10px;
    color: rgb(58, 51, 51);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}
.connect-button button:hover {
    background-color: #e74c3c;
    color: #ffffff; 
    transition: 0.4s;
}




/* Styling for project page */
.projects-page{
    background-color: #4e5358;
    margin: 0 4rem;
    margin-top: 1rem;
border-radius: 2rem;
padding-top: 3rem;
}
.projects-page h1{
   color: rgb(190, 185, 185);
   margin-left:33rem ;
margin-bottom: 3rem;
}
.project-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    /* gap: 50px; */
justify-content: center;
align-items: center;
/* margin:6rem 0 6rem 6rem ; */
padding-left: 4rem;
}
.project-img img {
    border:3px solid  #293136;
    border-radius: 1.3rem;
    height: 300px;
    width: 350px;
 
  }

.sign-up , .age-calculator, .single-price,  .social-proof, .stat-preview, .huddle{
    text-align: center;
    color: rgb(190, 185, 185);
       margin-bottom: 40px;
}



  /* styling for about me */
  .about-page{
    background-color: #1d2225;
    color: rgba(236, 236, 236, 0.822);
    margin:3rem 4rem 4rem 4rem;
    font-size: 20px;
    padding: 4rem;
    border-radius: 3rem;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
  .about-page h1{
    margin-bottom: 2rem;
  }




input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 150px; 
}




















  /* styling for contact me page */


  .contact-page{
    border: 1px rgb(141, 123, 123) solid;
    margin: 2rem;
    color: rgb(190, 185, 185);
}

.contact-page h1{
    padding-top: 2rem;
    padding-left: 10rem;
    margin-bottom: 4rem;
}


.contact-page p{
    margin-top: 1rem;
}
  .hello{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hello-text{
    margin-right: 25rem;
}


form {
    padding: 20px;
    border: 1px solid #686464;
    border-radius: 10px;
}


.media-icons a{margin-right: 2rem;}

.media-icons{
    display: flex;
justify-content: center;
align-items: center;
margin: 8rem 0 2rem 0;
}
.media-icons img{
   height: 30px;
}


footer {
 margin-left: 30rem;
 padding-bottom: 2rem;
 color: aqua;
}























/* media query */
@media (max-width: 700px) {





    .connect-button button{
        
        padding: 1.5rem 2rem;
        font-size: 0.7rem;
        font-weight: 900;
    }



    #media-icons{

        bottom: 180;
        margin-right: 0.5rem;
        }
        #media-icons img{
            margin: 0.5rem;
            width: 20px;
        }


    .connect-button{
    bottom: -400px;
    left: 250px;
    }



    #hero-text p{
        margin-top: 1.5rem;
    }
    
    
    #hero{
        width: 90%;
          border: 4px rgb(39, 38, 38) solid; 
          padding-left: 70px;
          margin-top: 0;
          margin-bottom: 4rem;
          margin-right: 0rem;
        }
    
    
        #hero img{
            width:400px ;
               height:auto;
               border-radius: 50%;
               border: 2px rgb(255, 0,250) solid;
    margin: 2rem 0 1rem 0;
       }


    #hero-text{
        font-size: 16px;
        margin-bottom: 15rem;
margin-right: 6rem;
        width: 90%;
    }

    .home-page {
        flex-direction:column-reverse ;
        border: rgb(34, 33, 33) 1px solid;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }



    .project-img img {
        border:3px solid  #293136;
        border-radius: 1.3rem;
        height: 300px;
        width:560px;
        margin-right: 4rem;
      }
    


    .projects-page h1{
        margin-left:13rem ;
     margin-bottom: 3rem;
     }





    .project-img{
        display:inherit ;
    }


    .projects-page{
        background-color: #4e5358;
        margin: 0;
        margin-top: 0;
    border-radius:0;
    padding-top: 2rem;
    }





    .about-page{
        margin: 0;
        font-size: 15px;
        padding: 2rem;
        border-radius: 0;
        word-spacing: 2px;
      }

    .contact-page h1{
        padding-left: 5rem;
    }

    .hello{
flex-direction: column;
      }
      .hello-text{
        margin: 0 2rem 3rem 0;
    }   

    .media-icons a{margin-right: 1rem;} 
       
    .media-icons img{
        height: 25px;
     }

    footer {
        margin-left:5rem;
        font-size: smaller;
       }

  }














