* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container{
height: 100%;
    width: 100%;
    background-color: #293136;
    margin: 0 auto;
}
/* Styling for homepage */
.home-page {
    display: flex;
    color: rgba(236, 236, 236, 0.822);
    /* height: 100vh; */
    /* width: 96vw; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 500px; */
    border: rgb(34, 33, 33) 1px solid;
   margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 0;
    border-radius: 1rem;
}

.logo{
    /* padding-right: 1rem; */
    padding-top:1.9rem ;
    margin-left: 2rem;
    margin-right: 80rem;
    margin-bottom: 1.5rem;
    /* border: 1rem blue solid; */
    }
    .logo h1{
        color: white;
        font-weight: 700;
        font-size: 40px;
        /* border: 0.3rem #e74c3c solid; */
        /* padding: 2rem ; */
        padding-left: 2rem;
    }
    .logo span{
        color: rgb(255, 0,250);
    }
    .logo h1:hover {
    color: #e74c3c;
    /* border:0.5rem solid rgb(255, 0,250) ; */
    transition: 0.4s;
    }
    
    .logo h1:hover span {
      color: white;
      transition:0.4s;
    }
    

    #hero-text{
    padding-left: 3rem;
    padding-top: 2rem;

    font-size: 23px;
    margin-bottom: 15rem;
    /* margin-right: 10rem; */
    width: 50%;
}

#hero-text p{
    margin-top: 1.5rem;
}


#hero{
    width: 50%;
      border: 0.7rem rgb(39, 38, 38) solid; 
      padding-left: 100px;
      margin-top: 0;
      margin-bottom: 4rem;
      margin-right: 8rem;
    }


    #hero img{
        width:400px ;
           height:auto;
           border-radius: 50%;
           border: 2px rgb(255, 0,250) solid;
           /* position: absolute; */
           /* top: 200px; */
          /* right:350px ; */
   }

   #hero img:hover{
    border: 6px #e74c3c solid;
    transition: 0.4s;
    }


#occupation span{  color: rgba(236, 236, 236, 0.822);}
#occupation{
    color: white;
 
}

nav {display: flex;
position: absolute;
right:300px;
top: 0px;
background-color: transparent;
border: none;
margin-top: 8px;
}
nav button{
    color: white;
    background-color: transparent;
border: none;
margin-top: 1rem;
font-size: 20px;
padding-top: 0;
margin-top: 10px;
cursor: pointer;
}
nav button:hover {
    color:#e74c3c;

}
nav div{
    margin-left: 20px; 
    margin-right: 20px;
}
/* #about-btn , .projects-btn , .contact-btn{
    curso
} */





.projects-btn{
    margin-left: 8rem;
    margin-right: 8rem;

}




#media-icons{
    position: absolute;
    right: 2rem;
    bottom: 250px;
    border: 5px rgb(75, 67, 67) solid;
    border-radius: 2rem;
    margin-right: 1.5rem;
    }
    #media-icons img{
        margin: 0.7rem;
        width: 30px;
    }
#media-icons .whatsapp:hover img , #media-icons .github:hover img , #media-icons .linkedin:hover img , #media-icons .twitter:hover img , #media-icons .email:hover img {
    filter: brightness(3);
    transition: 0.3s;
}


.connect-button{
    position: absolute;
bottom: 25px;
left: 200px;
}
.connect-button button{
    border: none;
    background-color: rgb(185, 177, 185);
    padding: 2rem 4rem;
    border-radius: 10px;
    color: rgb(39, 34, 34);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}
.connect-button button:hover {
    background-color: #e74c3c;
    color: #ffffff; 
    transition: 0.4s;
}




/* Styling for project page */
.projects{
    background-color: #5d646b;
    margin: 0 4rem;
border-radius: 2rem;
    /* height:100vh; */
   /* width: 100vw; */
    padding: 4rem 0;
}
.projects h1{
   color: rgb(247, 247, 247);
   margin-left:20rem ;
/* position: absolute; */
/* top: 1100px; */
}
.project-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    /* gap: 50px; */
justify-content: center;
align-items: center;
margin:6rem 0 6rem 6rem ;
}
.project-img img {
    width: 70%;
    height: auto;
    border:5px solid #e74c3c ;
  }
 





  /* styling for about me */
  .about-page{
    background-color: #1d2225;
    color: rgba(236, 236, 236, 0.822);
    margin:0 4rem 4rem 4rem;
    font-size: 20px;
    padding: 4rem;
    border-radius: 3rem;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
  .about-page h1{
    margin-bottom: 2rem;
  }


  .hello-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

.hello{
    margin-right: 34rem;
    margin-bottom: 4rem;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 150px; 
}
  /* styling for contact me page */
  .contact-me-container{
    background-color: #1d2225;
    color: #c1cad3;
    /* border: 2rem solid blue; */

  }
.contact-me, .media-icons, .media-icons a{
    /* border: 2rem solid red; */
   /* background-color: aliceblue; */
   margin: 4rem;
    /* padding: 6rem;
    margin-top:100rem;
    border-radius: 3rem; */ */
}


.media-icons{
    display: flex;
}
.media-icons img{
    width: 30%;
    height: auto;
   margin:0.4rem ;
}

.contact-me-container ,{
    background-color: #5d646b;
}
footer {
 margin-left: 25rem;
 padding-bottom: 1rem;
}

@media (max-width: 576px) {
    body {
      font-size: 16px;
    }
  }














