* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif
}

.container{
height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
}

.home-page {
    display: flex;
    color: rgba(236, 236, 236, 0.822);
    height: 100vh;
    width: 100vw;
}
#occupation span{  color: rgba(236, 236, 236, 0.822);}
#occupation{
    color: white;
}.headings{
    /* display: flex; */
    padding-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 2rem ;
}

nav {display: flex;
position: absolute;
right:300px;
top: 0px;
color:white;
background-color: transparent;
border: 1rem solid red;
border: none;
margin-top: 0rem;
}
nav button{
    color: white;
    background-color: transparent;
border: none;
margin-top: 1rem;
font-size: 20px;
}
nav div{
    margin: 20px; 
    /* right: -10px; */
}
.logo{
    color: white;
    /* font-weight: 700; */
    font-size: 40px;
}
.logo span{
    color: red;
}

.projects{
    background-color: #5d646b;
    padding: 4rem;
}
.media-icons{
    display: flex;
    mar
}
.contact-me{
    background-color: blanchedalmond;
    color: #343a40;
}
header {
    /* background-color: #333; */
    /* color: #fff; */
    /* padding: 20px 0; */
}

.first-row, .second-row {
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 0 20px; */
}
.first-row img, .second-row img{
    width: 550px;
    height: 400px;
    /* margin: 4rem; */
}

nav .logo {
    /* font-size: 24px; */
    /* font-weight: bold; */
}

nav a {
    /* color: #fff; */
    /* text-decoration: none; */
}

#hero {
    /* text-align: center; */
    /* padding: 100px 0; */
}

#hero h1 {
    /* font-size: 36px; */
}

#hero p {
    /* color: #777; */
}

.cta-button {
    /* display: inline-block; */
    /* padding: 10px 20px; */
    /* background-color: #333; */
    /* color: #fff; */
    /* text-decoration: none; */
    /* border-radius: 5px; */
    /* margin-top: 20px; */
}

#about, #portfolio, #contact {
    /* padding: 40px 0; */
    /* text-align: center; */
}

#portfolio h2 {
    /* margin-top: 40px; */
}

footer {
    /* background-color: #333; */
    /* color: #fff; */
    /* text-align: center; */
    /* padding: 10px 0; */
}
